$zinc-50: #fafafa;
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #18181b;
$zinc-950: #09090b;

$color_text: $zinc-50 !default;
$color_background: $zinc-900 !default;

$color_drag1: #{$zinc-50};
$color_drag2: #{$zinc-50};
$color_drag1_background: transparent;
$color_drag2_background: transparent;

$font-size: medium !default;
$font-family: Arial, sans-serif !default;

.flexlayout {
    &__layout {
        --color-text: #{$color_text};
        --color-background: #{$color_background};
        --color-1: #{$zinc-950};
        --color-2: #{$zinc-900};
        --color-3: #{$zinc-800};
        --color-4: #{$zinc-700};
        --color-5: #{$zinc-600};
        --color-6: #{$zinc-500};
        --color-drag1: #{$color_drag1};
        --color-drag2: #{$color_drag2};
        --color-drag1-background: #{$color_drag1_background};
        --color-drag2-background: #{$color_drag2_background};

        --font-size: #{$font_size};
        --font-family: #{$font_family};

        --color-overflow: var(--color-6);
        --color-icon: var(--color-6);

        --color-tabset-background: var(--color-2);
        --color-tabset-background-selected: var(--color-2);
        --color-tabset-background-maximized: var(--color-2);
        --color-tabset-divider-line: var(--color-4);

        --color-tabset-header-background: var(--color-1);
        --color-tabset-header: var(--color-text);

        --color-border-tab-content: var(--color-background);
        --color-border-background: var(--color-2);
        --color-border-divider-line: var(--color-1);

        --color-tab-content: var(--color-background);
        --color-tab-selected: var(--color-text);
        --color-tab-selected-background: var(--color-3);
        --color-tab-unselected: var(--color-6);
        --color-tab-unselected-background: transparent;
        --color-tab-textbox: var(--color-text);
        --color-tab-textbox-background: var(--color-3);

        --color-border-tab-selected: var(--color-text);
        --color-border-tab-selected-background: var(--color-3);
        --color-border-tab-unselected: var(--color-6);
        --color-border-tab-unselected-background: transparent;

        --color-splitter: var(--color-2);
        --color-splitter-hover: var(--color-1);
        --color-splitter-drag: var(--color-5);

        --color-drag-rect-border: var(--color-3);
        --color-drag-rect-background: var(--color-2);
        --color-drag-rect: var(--color-text);

        --color-popup-border: var(--color-3);
        --color-popup-unselected: var(--color-text);
        --color-popup-unselected-background: var(--color-background);
        --color-popup-selected: var(--color-text);
        --color-popup-selected-background: var(--color-4);

        --color-edge-marker: var(--color-3);
        --color-edge-icon: #{$zinc-50};
        background-color: var(--color-1);

    }


}

body {
    background-color: #{$zinc-950};
    color-scheme: dark;
}

@mixin tabset_mixin {
    &_content {
        color: #{$zinc-50};
    }

    &_container {
        border: 1px solid var(--color-3);
        border-radius: 5px;
    }

    &_tabbar_inner_tab_container {
        padding: 0 3px 0 3px !important;
    }

    &_tabbar_inner_tab_container_top {
        border-bottom: 3px solid transparent;
        border-top-width: 3px !important;
    }
}

@mixin tabset_tabbar_mixin {
    border-color: var(--color-3) !important;
    padding: 0 !important;
    border-radius: 5px;
}

@mixin tabset_header_mixin {}

@mixin tabset_selected_mixin {}

@mixin tabset_header_mixin {}

@mixin tabset_selected_mixin {}

@mixin tabset_maximized_mixin {}

@mixin tab_top_mixin {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

@mixin tab_bottom_mixin {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@mixin tab_button_mixin {
    border-radius: 5px !important;
    padding: 2px 0.6em;
}

@mixin tab_button_selected_mixin {}

@mixin tab_button_unselected_mixin {}

@mixin tab_button_hovered_mixin {}

@mixin tab_button_stretch_mixin {}

@mixin tab_button_stretch_hovered_mixin {}

@mixin border_mixin {
    background-color: var(--color-1);

    &_inner {
        border-radius: 5px;
        border: 1px solid var(--color-3);
        background-color: var(--color-2);
    }

    &_top {
        border-bottom-width: 8px !important;
    }

    &_bottom {
        border-top-width: 8px !important;
    }

    &_left {
        border-right-width: 8px !important;
    }

    &_right {
        border-left-width: 8px !important;
    }
}

@mixin close_button_hovered_mixin {
    background-color: var(--color-4);
}

@mixin toolbar_button_hovered_mixin {
    background-color: var(--color-3);
}

@mixin border_button_mixin {
    border-radius: 5px;
    padding: 2px 0.7em;
}

@mixin border_button_selected_mixin {}

@mixin border_button_unselected_mixin {}

@mixin border_button_hovered_mixin {}

@mixin splitter_mixin {
    background-color: var(--color-1);
}

@mixin splitter_hover_mixin {
    .flexlayout__splitter_handle {
        background-color: var(--color-4);
    }
}

@mixin splitter_drag_mixin {
    background-color: transparent;

    .flexlayout__splitter_handle {
        background-color: var(--color-4);
    }
}

@mixin splitter_border_mixin {}

@mixin tabset_tab_divider_mixin {
    width: 3px;
}

@mixin border_tab_divider_mixin {}

@import "_base";


.flexlayout__tab_border {
    border: 1px solid var(--color-3);
    border-radius: 5px;
}

.flexlayout__border_tab_contents {
    background-color: transparent;
}

.flexlayout__tabset-selected .flexlayout__tab_button--selected {
    border-color: var(--color-4)
}

@media (hover: hover) {
    .flexlayout__popup_menu_item:hover {
        background-color: var(--color-3);
    }
}

.flexlayout__drag_rect {
    border-width: 1px !important;
}

.flexlayout__splitter_handle {
    background-color: var(--color-3);
}

.flexlayout__outline_rect {
    border-width: 1px !important;
}